

<!DOCTYPE html>
<html>
    <style>
        body{
            background-color: rgb(148, 168, 168);
        }
        a{
            text-align: center;
            border: 2px solid black;
            color: white;
            background-color: black;
            
            margin-left: 20%;
            margin-top: 20%;
        }
        h1{
            text-align: center;
        }
    </style>
    <body>
        <h1>HAND GESTURE USING OPENCV </h1>
        
        <a href="{% url 'navigate' %}">Vedio Player</a>
        <a href="{% url 'navigate_ppt' %}">Presentation</a>
    </body>
</html>