

{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Final Year Project.</title>
        
<!-- 

Sentra Template

https://templatemo.com/tm-518-sentra

-->
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="{% static "apple-touch-icon.png" %}">

        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}">
        <link rel="stylesheet" href="{% static "css/fontAwesome.css" %}">
        <link rel="stylesheet" href="{% static "css/light-box.css" %}">
        <link rel="stylesheet" href="{% static "css/owl-carousel.css" %}">
        <link rel="stylesheet" href="{% static "css/templatemo-style.css" %}">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

        <script src="{% static "js/vendor/modernizr-2.8.3-respond-1.4.2.min.js" %}"></script>
    </head>

<body>



        <header class="nav-down responsive-nav hidden-lg hidden-md">
            <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--/.navbar-header-->
            <div id="main-nav" class="collapse navbar-collapse">
                <nav>
                    <ul class="nav navbar-nav">
                        <li><a href="#top">Home</a></li>
                        <li><a href="#featured">Demo</a></li>

                        {% comment %} <li><a href="#video">Videos</a></li> {% endcomment %}
                        <li><a href="#members">Team Members</a></li>

                    </ul>
                </nav>
            </div>
        </header>

        <div class="sidebar-navigation hidde-sm hidden-xs">
            <div class="logo">
                <a href="#">Hand<em>Gesture</em></a>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="#top">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="#featured">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Demo
                        </a>
                    </li>
                    {% comment %} <li>
                        <a href="#video">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Videos
                        </a>
                    </li> {% endcomment %}
                    <li>
                        <a href="#featured">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Team Members
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="slider">
            <div class="Modern-Slider content-section" id="top">
                <!-- Item -->
                <div class="item item-1">
                    <div class="img-fill">
                    <div class="image"></div>
                    <div class="info">
                        <div>
                          <h1>Small gesture </h1>
                          <h1>can have big impact.</h1>
                          	
                        </div>
                        </div>
                    </div>
                </div>
                <!-- // Item -->
                <!-- Item -->
                <div class="item item-2">
                    <div class="img-fill">
                        <div class="image"></div>
                        <div class="info">
                        <div>
                          <h1>A kind gesture can <br> reach a wound that only <br>compassion can heel.</h1>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- // Item -->
                <!-- Item -->
                <div class="item item-3">
                    <div class="img-fill">
                        <div class="image"></div>
                        <div class="info">
                        <div>
                          <h1>With one kind gesture <br> you can change a life. </h1>
                          
                        </div>
                        </div>
                    </div>
                </div>
                <!-- // Item -->
            </div>
        </div>


        <div class="page-content">
            <section id="featured" class="content-section">
                <div class="section-heading">
                    <h1><em>DEMO</em></h1>
                </div>
                <div class="section-content">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="image">
                                <img src="{% static "img/vedio_1.jpg" %}" alt="">
                                <div class="featured-button button">
                                    <a href="{% url 'navigate' %}">Click For Video Player</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Vedio Player</h4>
                                <p>This section intends to facilitate the process of controlling(Pause, Play, Volume up, Volume Down, Mute) a video player by mere hand gestures without pressing buttons or tapping onto the screen. This can be assimilated into our day to day life such as viewing video players example:- YouTube.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="{% static "img/presentation.jpg" %}" alt="">
                                <div class="featured-button button">
                                    <a href="{% url 'navigate_ppt' %}">Click For presentation</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Presentation</h4>
                                <p>This section intends to facilitate the process of controlling(forward and backward the slide) a presentation by mere hand gestures without pressing buttons or tapping onto the screen. This can be assimilated into our day to day life such as in presentations example:- PowerPoint.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="{% static "img/paint.jpg" %}" alt="">
                                <div class="featured-button button">
                                    <a href="{% url 'navigate_paint' %}">Click For Paint</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Paint</h4>
                                <p>This section intends to facilitate the process of controlling paint by mere hand gestures without pressing buttons or tapping onto the screen or paint tools. This can be assimilated into our day to day life such as paint.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            {% comment %} <section id="video" class="content-section">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                            <h1>This is a <em>company</em> presentation.</h1>
                            <p>Praesent pellentesque efficitur magna, sed pellentesque neque malesuada vitae.</p>
                        </div>
                        <div class="text-content">
                            <p>In eget ipsum sed lorem vehicula luctus. Curabitur non dolor rhoncus, hendrerit justo sit amet, vestibulum turpis. Pellentesque id auctor tellus, vel ultricies augue. Duis condimentum aliquet blandit. Fusce rhoncus et eros ut pharetra. Phasellus convallis ultricies ligula ac gravida.</p>
                        </div>
                        <div class="accent-button button">
                            <a href="#blog">Continue Reading</a>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="box-video">
                            <div class="bg-video" style="background-image: url(https://unsplash.imgix.net/photo-1425036458755-dc303a604201?fit=crop&fm=jpg&q=75&w=1000);">
                                <div class="bt-play">Play</div>
                            </div>
                            <div class="video-container">
                                <iframe width="100%" height="520" src="https://www.youtube.com/embed/j-_7Ub-Zkow?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </section> {% endcomment %}
            
                
              
            <section id="featured" class="content-section">
                <div class="section-heading">
                    <h1><em>Team Members</em></h1>
                    <h4>KLE Dr M S Sheshgiri College Of Engineering And Technology</h4>
                </div>
                <div class="section-content">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="image">
                                <img src="{% static "img/sumedha.jpg" %}" alt="">
                            </div>
                            <div class="text-content">
                                <h4>Sumedha Jitendra Agasimani</h4>
                                <span>2KL17CS093</span>
                                <h5>Computer Science And Engineering</h5>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="{% static "img/nandini.jpg" %}" alt="">
                            </div>
                            <div class="text-content">
                                <h4>Nandini Ashok Sheri</h4>
                                <span>2KL18CS413</span>
                                <h5>Computer Science And Engineering</h5>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="{% static "img/netra.jpg" %}" alt="">
                            </div>
                            <div class="text-content">
                                <h4>Netravati Mahesh Bhasme</h4>
                                <span>2KL18CS414</span>
                                <h5>Computer Science And Engineering</h5>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="{% static "img/tejaswini.jpg" %}" alt="">
                            </div>
                            <div class="text-content">
                                <h4>Tejaswini Muragod</h4>
                                <span>2KL17CS100</span>
                                <h5>Computer Science And Engineering</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static  "js/vendor/jquery-1.11.2.min.js" %}"></script>')</script>

    <script src="{% static "js/vendor/bootstrap.min.js" %}"></script>
    
    <script src="{% static "js/plugins.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>

    <script>
        // Hide Header on on scroll down
        var didScroll;
        var lastScrollTop = 0;
        var delta = 5;
        var navbarHeight = $('header').outerHeight();

        $(window).scroll(function(event){
            didScroll = true;
        });

        setInterval(function() {
            if (didScroll) {
                hasScrolled();
                didScroll = false;
            }
        }, 250);

        function hasScrolled() {
            var st = $(this).scrollTop();
            
            // Make sure they scroll more than delta
            if(Math.abs(lastScrollTop - st) <= delta)
                return;
            
            // If they scrolled down and are past the navbar, add class .nav-up.
            // This is necessary so you never see what is "behind" the navbar.
            if (st > lastScrollTop && st > navbarHeight){
                // Scroll Down
                $('header').removeClass('nav-down').addClass('nav-up');
            } else {
                // Scroll Up
                if(st + $(window).height() < $(document).height()) {
                    $('header').removeClass('nav-up').addClass('nav-down');
                }
            }
            
            lastScrollTop = st;
        }
    </script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>

</body>
</html>